.repo-tile {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: calc(100% - 16px);
    padding: 8px;
    margin: 16px;
    border-radius: 8px;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    box-shadow: 5px 7px 7px #2e2c2c ;
    .repo-title-cont {
        margin-bottom: 8px;
    
        .repo-title {
            font-size: 16px;
            font-weight: 600;
            color: #f03c2e;
            font-family: initial;
        }
    }
    
    .repo-preview-cont {
        margin-bottom: 8px;
    
        .repo-preview {
            font-size: 16px;
            font-weight: 600;
            color: #2e2c2c;
            font-family: initial;
        }
    }
}
